/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.slider-sale .h2{
		font-size: 22px;
	}
	.slider-sale {
		height: 270px;
		padding: 10px 20px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.phone{
			font-size: 20px;
			text-align: right;
		}
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.footer .footer-item:nth-child(2){
		text-align: center!important;
		margin-top: 40px;
	}
	.footer .footer-item:nth-child(2) .phone{
		text-align: center!important;
	}
	.footer .footer-item:nth-child(1){
		text-align: center!important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.top_links {
		display: inline-block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.maian_mnu ul {
		display: block !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}